.idea/
data/nuScenes
data/nuscenes-preprocessed
pretrained_weights/
*__pycache__/
.eggs
*.egg-info
build
*.so
*.ipynb_checkpoints
*wandb/
out/
configs/track-sweeps*
third_party/waymo-open-dataset
data
!data/README.md
!data/download_data.sh
model_weights
!model_weights/README.md